@namespace epub "http://www.idpf.org/2007/ops";
body
{
margin-left:1em;
margin-right:1em;
}

span.mathfigure, span.mathtext {
display:none;
text-indent:0em;
}
span.math {
text-indent:0em;
display:inline-block;
}

span.label
{
margin-left: 3em;
}

p.equation
{
text-align: center;
}

img
{
max-width:100%;
max-height:100%;
}
a
{

text-decoration:none;
}
.a1
{

text-decoration:underline;
}

span.font
{

font-size:xx-large;
}

/* ====== CHARACTER LEVEL STYLES ====== */

span.underline
{

text-decoration:underline;
}
span.dropcap
{
font-size:x-large;
line-height:0.8em;
font-weight:bold;
}
/* ====== FRONT MATTER STYLES ====== */
span.font
{
font-size:x-large;
}
.image
{
font-size:large;
margin-top:1em;
margin-bottom:1em;
text-indent:0em;
text-align:center;
}
.rightq
{
font-size:small;
margin-top:0em;
margin-bottom:1.5em;
text-indent:0em;
text-align:right;
}
/* ====== BODY MATTER STYLES ====== */
.middle
{
vertical-align:middle;
}
.chap_num
{
font-size:large;
margin-top:3em;
margin-left:3em;
margin-bottom:0em;
text-indent:0em;
text-align:left;
border-bottom:5px solid #818285;
padding-top:0.3em;
padding-bottom:0.3em;
}
.chap_numa
{
font-size:x-large;
margin-top:0em;
margin-left:2.3em;
margin-bottom:3em;
text-indent:0em;
text-align:left;
padding-top:0.3em;
}

h2.Contents
{
font-size:x-large;
margin-top:3em;
margin-left:0em;
margin-bottom:3em;
text-indent:0em;
text-align:center;
}
.h3
{
font-size:large;
margin-top:1em;
margin-left:0em;
margin-bottom:0.5em;
text-indent:0em;
text-align:justify;
}
.Definition
{
font-size:small;
margin-top:0.5em;
margin-left:1.5em;
margin-right:1.5em;
margin-bottom:0.5em;
text-indent:0em;
text-align:justify;
}
.h4
{
font-size:medium;
margin-top:1em;
margin-left:0em;
margin-bottom:0.5em;
text-indent:0em;
text-align:justify;
}
p.h5
{
font-size:small;
margin-top:1em;
margin-left:0em;
margin-bottom:0.5em;
text-indent:0em;
text-align:justify;
}
p.captionh
{
font-size:small;
margin-top:1em;
margin-left:0em;
margin-bottom:1em;
text-indent:0em;
text-align:justify;
}
p.caption
{
font-size:x-small;
margin-top:1em;
margin-left:0em;
margin-bottom:1em;
text-indent:0em;
text-align:center;
}
.noindent
{
font-size:small;
margin-top:0em;
margin-bottom:0em;
text-indent:0em;
text-align:justify;
}
.center
{
font-size:small;
margin-top:0em;
margin-bottom:0em;
text-indent:-1.5em;
text-align:center;
}
table
{
font-size:small;
}
.indent
{
font-size:small;
margin-top:0em;
margin-bottom:0em;
text-indent:1.5em;
text-align:justify;
}
.Example
{
font-size:small;
margin-top:1em;
margin-left:1.5em;
margin-bottom:1em;
text-indent:0em;
text-align:justify;
}
/* ====== BACK MATTER STYLES ====== */

*[hidden]
{
text-indent: 0em;
display:none;
}
/*.right_1
{
font-size: x-small;
padding:0.5em;
float:right;
}
span[epub|type~='pagebreak'] {
text-indent: 0em;

text-align:center;
border:1px solid rgb(180,180,180);
padding:0.1em 0.3em;
}
*/
ul.none
{
list-style-type:none;
font-size: medium;
}
nav#toc ol
{


list-style-type: none;
margin-left:0em;
margin-bottom:0em;
padding:0em;
}
nav#toc ol li
{


font-size: small;
margin-top:0em;
margin-bottom:0em;
margin-left:0em;
padding:0em;
}
.hide
{
display:none;
}
.hide1
{
display:none;
}



@media amzn-mobi {
.hide1
{
display:none;
}
.hide
{
display:block;
}

ul.none
{
list-style-type:none;
font-size:x-small;
}
nav#toc ol
{
list-style-type:none;
margin-left:0em;
padding:0em;
}
nav#toc ol li
{
font-size:small;
margin-top:0em;
margin-bottom:0em;
margin-left:0em;
padding:0em;
}

span.mathfigure, span.mathtext {
text-indent:0em;
display:inline-block;
}
span.math {
text-indent:0em;
display:none;
}

}

@media amzn-kf8
{
span.mathfigure, span.mathtext {
text-indent:0em;
display:inline-block;
}
span.math {
text-indent:0em;
display:none;
}

}


